.App {
  /* Elimina la imagen de fondo aquí si no quieres que se aplique a todo el contenedor */
  /* background-image: url('./montaña.jpg'); */
  color: rgb(3, 3, 3); /* Cambia el color del texto si es necesario para que sea legible */
}

.banner {
  background-image: url('./montaña.jpg'); /* Ruta de la imagen */
  background-size: cover; /* O 'contain' si prefieres */
  background-position: center; /* Centrar la imagen */
  height: 300px; /* Altura del banner */
  display: flex; /* Para centrar el contenido dentro del banner */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  color: white; /* Color del texto en el banner */
}

/* App.css */

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.card .description {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}